#footer {
    
    background-color: $color5;
    opacity: 0.99;
    color: $color2  ;
    font-family: $fuente;
    text-align: center;

    height: 120px;
    width: 100%;
    margin: auto;

}



#footer p {

    color: $color9;
    text-shadow: 1px 1px #222,
             10px 10px #222;
    text-align: center;
    padding: 5px;
}

// .contacto2 {
  
// }