$colorEncabezado: #772b14;
$color2: #181818;
$color3: #00405c;
$color4: #58508d;
$color5: #bc5090;
$color6: #ff6362;
$color7: #ffa602;
$color8: #021407;
$color9: #68c180;
$color10: #d9534f;

$fuente:'Montserrat Subrayada', sans-serif;